
```{=html}
<!-- Styles to limit the width of the author section -->
<style>
  .listing-author {
    max-width: 300px; /* Set a maximum width for the author section */
    word-wrap: break-word; /* Allow text to wrap to the next line */
  }
</style>

<ul class="pub-list list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <span class="listing-title lead"><%= item.title %></span><br />
    <span class="listing-author"><%= item.author %></span><br />
    <span class="listing-publication fst-italic "><%= item.publication %></span>
    <span class="listing-year">(<%= item.year %>)</span><br />
    <a href="<%- item.path %>" class="btn btn-primary">
      Details
    </a>
    <% if (item.doi) { %>
    <a href="<%- item.doi %>" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
      DOI
    </a>
    <% } %>
    <% if (item.preprint) { %>
    <a href="<%- item.preprint %>" class="btn btn-light" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-file-earmark-text"></i> Preprint
    </a>
    <% } %>
    <% if (item.materials) { %>
    <a href="<%- item.materials %>" class="btn btn-light" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-file-earmark-zip"></i> Materials
    </a>
    <% } %>
    <% if (item.pmc) { %>
    <a href="<%- item.pmc %>" class="btn btn-info" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-file-earmark-pdf"></i> PMC
    </a>
    <% } %>
  </li>
<% } %>
</ul>



```